<h2>Voici nos différentes catégories (<%= @categories.count %>) </h2>

<ol>
	<% @categories.each do |category| %>
	<li>
		<%= category.title %>
		(<%= category.products.count %>)
	</li>
	<% end %>
</ol>



